*.d
*.o
*.elf
*.bin
*.exe
*.dll
*.lib
*.pdb
*.exp
./funcs.h
patches.map
build/
build_pc
.vscode/settings.json
RecompModTool.exe
RecompModTool
assets_extracted/
binaries/
*_pycache_*
downloads/
build/
build2/
TEMP/
server/target/
server/lobbies/
test_env/