[submodule "BanjoRecompSyms"]
	path = BanjoRecompSyms
	url = https://github.com/BanjoRecomp/BanjoRecompSyms
[submodule "bk-decomp"]
	path = bk-decomp
	url = https://gitlab.com/banjo.decomp/banjo-kazooie
[submodule "src/etxlib/msgpack-c"]
	path = src/etxlib/msgpack-c
	url = https://github.com/msgpack/msgpack-c
	branch = cpp_master
